
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0.3rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.navbarLinks {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.navbarLinks li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbarLinks li a:hover {
    color: #007bff;
}

.navbarIcons {
    display: flex;
    gap: 1rem;
}

.icon {
    font-size: 1.5rem;
    color: #333;
    transition: color 0.3s;
    margin-right: 9px;
}

.icon:hover {
    color: #007bff;
}


.navbarRight {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}